<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FANCOIL</title>
</head>
<body>

<h2>Seleziona il Fancoil desiderato:</h2>
<h3>
  <a href="/mev/index">Home</a>
</h3>
<h4>Stato FanCoil</h4>

<form action="/mev/fancoil" method="get">
  <label>
    <select name="ambiente">
      <option value="camera">Camera</option>
      <option value="cameretta">Camerettta</option>
      <option value="sala">Sala</option>
    </select>
  </label>
  <input type="submit" value="Seleziona">
</form>


<h4>Set FanCoil</h4>
<form action="/mev/setFancoil" method="GET">
  <label for="setPoint">Fancoil:
  <select name="ambiente">
      <option value=""></option>
      <option value="camera">Camera</option>
      <option value="cameretta">Camerettta</option>
      <option value="sala">Sala</option>
    </select>
  </label>

    <select name="onOff">
      <option value=""></option>
      <option value="true">acceso</option>
      <option value="false">spento</option>
    </select>

    <select name="mode">
      <option value=""></option>
      <option value="heating">riscaldamento</option>
      <option value="cooling">condizionamento</option>
      <option value="ventilate">ventilazione</option>
      <option value="auto">auto</option>
    </select>

  <label for="fan">Ventilazione:</label>
    <select name="fan" id="fan">
      <option value=""></option>
      <option value="V1">Velocità I</option>
      <option value="V2">Velocità II</option>
      <option value="V3">Velocità III</option>
      <option value="auto">Auto</option>
    </select>

    <label for="setPoint">Set Point:</label>
      <input type="number" id="setPoint" name="setPoint" min="10" max="30" value="10">

  <input type="submit" value="OK">
</form>
</body>

</html>
